.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    background-color: rgb(66, 97, 19);
}

.img {
    max-width: 60px;
    margin-left: 5px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    flex: 0 0 50%;
}

ul {
    list-style-type: none;
}

.loginList a {
    color: white;
}

