.menuItem {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  /* outline: 15px solid transparent; */
}

.menuItem:hover {
background-color: var(--color-light);
}

.active {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  background-color: var(--color-light);
}

.active i, .active h3 {
  color: var(--color-primary);
}

/* MEDIA QUERIES FAR SMALL LAPTOPS AND MOBILE PHONES */
@media screen and (max-width: 992px) {
  .menuItem {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 468px) {
  .menuItem span i {
    margin-left: 0;
  }
}
