.menuItem {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  /* outline: 15px solid transparent; */
}

.menuItem:hover {
background-color: hsl(252, 30%, 95%);
}

.active {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  background-color: hsl(252, 30%, 95%);
}

.active i, .active h3 {
  color: hsl(252, 75%, 60%);
}


/* .nav {
   grid-area: nav;
   border: 1px solid #000;
   background-color: skyblue;
 }
 
 .nav a {
   display: block;
   margin-left: 5px;
 }

 .item {
   color: #fff;
   text-decoration: none;
 }

 .item:hover {
  text-decoration: underline;
}

.active {
  color: gold;
} */