.wrapper .title {
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-weight: 700;
    display: block;
}

.body {
    display: flex;
    padding: 10px;
}

.avatar {
    flex: 0 0 20%;
    text-align: center;
}

.avatar img {
    display: block;
    margin: 0 auto 10px;
}

.info {
    flex: 1 1 auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info__column {
    padding: 10px;
}

.info__column_right {
    text-align: right;
}

button {
    cursor: pointer;
}