.pagination {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

button {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    background-color: var(--color-white);
    margin-right: 5px;
    font-family: inherit;
}

button:hover {
    opacity: 0.2;
  }

button:disabled:hover {
      opacity: 1;
  }

.selectedPage {
    background-color: var(--color-primary);
    margin-top: 5px;
    min-width: fit-content;
    min-height: fit-content;
    font-weight: 600;
}

@media screen and (max-width: 426px) {
    .pagination {
        width: 100%;
    }
    
    button {
        margin-top: 0.5rem;
    }
}