.pagination {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.pagination button {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    background-color: var(--color-light);
    color: var(--color-dark);
    margin-right: 5px;
    font-family: inherit;
}

.pagination button:hover {
    opacity: 0.2;
  }

.pagination button:disabled {
    opacity: 0.2;
}

.pagination button:disabled:hover {
      opacity: 1;
  }

.pagination .selectedPage {
    background-color: var(--color-primary);
    margin-top: 5px;
    min-width: fit-content;
    min-height: fit-content;
    font-weight: 600;
}

@media screen and (max-width: 426px) {
    .pagination {
        width: 100%;
    }
    
    .pagination button {
        margin-top: 0.5rem;
    }
}