.post {
  color: green;
  display: flex;

}

.post p {
margin: 10px 15px;
text-align: justify;
flex: 0 1 auto;
}

.post img {
  flex: 0 0 100px;
  height: 100px;
  margin: 10px 0 10px 10px;
  border-radius: 50%;
  display: flex;
}

.button {
  text-align: right;
  margin-right: 10px;
  }

.button button {
background-color: red;
color: #fff;
}

.showDeleteButton {
  position: relative;
}

.showDeleteButton button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.showDeleteButton.active button {
  display: block;
}

.showDeleteButton i {
  cursor: pointer;
}

.confirmDeletePost {
  display: none;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  color: var(--color-dark);
}

.confirmDeletePost.active {
  display: block;
}

.confirmDeletePost span:first-child {
display: block;
text-align: center;
}

.confirmDeletePost button {
  position: static;
}

.deleteButtons {
  display: flex;
}

.btnYes {
  padding: 0.6rem 1.6rem;
  background-color: var(--color-primary);
  display: inline;
}

.btnNo {
  display: inline;
}