@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --primary-color-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --font-size-standart: 0.9rem;
  --font-size-big: 1.4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appWrapper {}

.container {
  width: 80%;
  margin: 0 auto;
}

main {
  position: relative;
}

main .container {
  display: grid;
  grid-template-columns: 15vw auto;
  column-gap: 2rem;
  position: relative;
  top: 5.6rem;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  text-align: center;
  display: grid;
  place-items: center;
  background-color: rgba(58, 58, 58, 0.74);
}


/* GENERAL */

img {
  display: block;
  width: 100%;
}

.profilePicture {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profilePicture img {
  height: 100%;
  object-fit: cover;
  top: -1px;
  position: absolute;
}

.postUser .profilePicture {
  height: 4rem;
  aspect-ratio: 1/1;
  align-self: center;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: var(--font-size-standart);
  font-family: inherit;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 20px;
  width: 50px;
  margin-top: 5px;
  min-width: fit-content;
}

.btnLogout {
  padding: 10px;
  background-color: var(--color-gray);
  font-family: inherit;
}

.btnSaveChanges {
  padding: 0.5rem 0.5rem 2rem;
  margin-right: 1rem;
}

.btnSendMessage {
  flex: 0 0 10rem;
  height: fit-content;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: block;
  margin-left: auto;
}

.btnDelete {
  background-color: var(--color-danger);
}

.btnDelete:hover {
  color: var(--color-white);
  opacity: 1;
}

form.sendMessageForm {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-left: 1rem;
}

form.sendMessageForm textarea {
  width: 90%;
  resize: none;
  border-radius: 15px;
  padding: 0.6rem;
  font-family: inherit;
  font-size: var(--font-size-standart);
  margin-right: 1rem;
}

form.sendMessageForm textarea::placeholder {
  text-align: center;
}

.buttons {
  text-align: center;
}

.textBold {
  font-weight: 600;
}

.textMuted {
  color: var(--color-gray);
}

/* HEADER */

header {
  width: 100%;
  background-color: var(--color-white);
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .searchBar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  border: 1px solid var(--color-dark);
}

header .searchBar input {
  text-align: center;
  background: transparent;
  width: 20vw;
  margin-left: 1rem;
  font-size: var(--font-size-standart);
  color: var(--color-dark);
}

header .searchBar input::placeholder {
  color: var(--color-gray);
}

.log {}

.create {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

/* NAVBAR */

.navbar {
  height: max-content;
  position: sticky;
  top: 5.4rem;
  margin-top: 1rem;  
}

.navbar .profile {
  padding: 10px 0px;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
}

.navbar .sidebar {
  padding: 10px 5px;
  margin-top: 1rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  border: 1px solid var(--color-dark);
}

.navbar .sidebar i {
  font-size: var(--font-size-big);
  color: var(--color-gray);
  margin-left: 1rem;
  position: relative;
}

.navbar .sidebar i .notificationCount {
  background: var(--color-danger);
  color: var(--color-white);
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.navbar .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
  display: inline-block;
}

/*-----------------CONTENT-----------------*/

.story .profilePicture {
  display: inline-block;
}

.profileInfo {
  margin-top: 1rem;
  padding: 15px;
  border-radius: 10px;
  background: url("https://img.redbull.com/images/w_3000/q_auto,f_auto/redbullcom/2018/12/10/c16fc793-a864-44c5-affe-ea590376b54d/kauai-county-united-states") 0 0/cover no-repeat;
}

.profilePictureBlock {
  display: flex;
  align-items: center;
}

input#uploadPhoto {
  display: none;
}

.profilePictureBlock .btn {
  background-color: var(--color-light);
  padding: 5px;
  margin-left: 10px;
}

.profileItems {
  margin: 10px auto;
  border-radius: 10px;
  padding: 5px;
  max-width: fit-content;
  background-color: rgba(228, 227, 232, 0.4);
}

.profileItems input {
  font-family: inherit;
  font-size: var(--font-size-standart);
  border-radius: var(--border-radius);
  padding: 0 1rem;
  width: max-content;
}

.editProfileButtons button {
  position: absolute;
  top: 20px;
  right: 15px;
  font-family: inherit;
  font-size: var(--font-size-standart);
  font-weight: 500;
  color: var(--color-dark);
}

.content .createPost {
  /* width: 100%; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: 0.4rem var(--card-padding);
}

.content .createPost input[type='text'] {
  justify-self: center;
  width: 100%;
  /* padding-left: 1rem; */
  background: transparent;
  color: var(--color-dark);
  margin-right: 1rem;
  text-align: center;
}

.createPost .btn-primary {
  padding: 10px;
  width: fit-content;
  height: fit-content;
}


/*-----------------POSTS-----------------*/
.postsTitle {
  text-align: center;
  margin-top: 10px;
}

.postsSubtitle {
  text-align: center;
  margin-top: 10px;

}

.post {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

.postHead {
  display: flex;
  justify-content: space-between;
}

.postUser {
  display: flex;
  gap: 1rem;
}

.postUser .profilePicture {
  width: 4rem;  
}

.postPhoto {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
  max-height: 550px;
  object-fit: cover;
}

.postInfo span {
  margin-right: 10px;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-big);
  margin: 0.6rem;
}

.comments {
  cursor: pointer;
}

/*--------------------MESSAGES--------------------*/
.messages h2 {
  text-align: center;
  font-size: 1.6rem;
}

.messages .searchBar {
  margin: 0 auto;
  max-width: fit-content;
  background: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  text-align: center;
}

.messages .searchBar input {
  text-align: center;
  background: transparent;
  width: 20vw;
  font-size: var(--font-size-standart);
  color: var(--color-dark);
}

.messages .searchBar input::placeholder {
  color: var(--color-gray);
}

.messagesBody {
  display: flex;
}

.dialogItem {
  flex: 0 0 25%;
  height: fit-content;
}

.dialogItemElement {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  padding: 15px;
  margin: 10px 0;
}

.dialogItemElement:first-child {
  background-color: var(--color-gray);
}

.dialogItemElement:hover {
  cursor: pointer;
  background-color: var(--color-gray);
}

.dialogItemElement a {
  color: inherit;
}

.dialogItemElement a {
  margin-left: 10px;
}

.messagesItems {
  flex: 1 1 auto;
}

.message {
  border-radius: var(--border-radius);
  width: fit-content;
  max-width: 25vw;
  min-width: 50px;
  height: fit-content;
  padding: 15px;
  margin: 10px 0;
}

/* MEDIA QUERIES FAR SMALL LAPTOPS AND BIG TABLETS */
@media screen and (max-width: 1200px) {
  header .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 7vw auto;
    gap: 1rem;
  }

  .navbar {
    width: 7vw;
    z-index: 5;
  }

  .navbar .profile {
    display: none;
  }

  .navbar .sidebar h3 {
    display: none;
  }
}

/* MEDIA QUERIES FAR SMALL LAPTOPS AND MOBILE PHONES */
@media screen and (max-width: 992px) {
  header .searchBar {
    display: none;
  }

  .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 0 auto;
    /* gap: 0; */
  }

  .content {
    grid-column: 1/3;
    width: 85vw;
  }

  .navbar {
    grid-column: 3/4;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    justify-items: center;
  }

  .navbar .sidebar i {
    margin: 0 auto;
  }
}

@media screen and (max-width: 426px) {

  main .container {
    display: block;
    width: 87%;
    position: relative;
  }

  .content {}

  .profilePictureBlock {
    display: block;
  }

  .profilePictureBlock .btn {
    margin-left: 0;
  }

  .navbar {
    position: fixed;
    display: grid;
    transform: rotate(-90deg);
    margin-right: 50%;
    margin-top: 67vh;
  }

  .navbar .sidebar {
    background-color: var(--color-secondary);

  }

  .navbar .sidebar i {
    font-size: 2rem;
    color: var(--color-primary);
    margin-left: 0;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 1rem;
  }

  .navbar .sidebar i::before {
    transform: rotate(90deg);
  }

  .navbar .sidebar i small {
    transform: rotate(90deg);

  }

  .navbar .sidebar i .notificationCount {
    top: 2.6rem;
    right: 0.8rem;
  }

  .post:last-of-type {
    margin-bottom: 200px;
  }
  
  .messages .searchBar {
    margin: 0;
    max-width: none;   
  }
  
  .messages .searchBar {
    margin: 0;
    max-width: none;   
  }

  .messages .searchBar input {
    width: 40vw;
  }

  .dialogItemElement {
    padding: 0;
    border-radius: 15px;

  display: flex;
  flex-direction: column;
  }

  a.messageReceiver {
    margin: 0;
    
  }

  .dialogItem {
     flex-basis: content;
  }

  .message {
    /* border-radius: var(--border-radius); */
    /* width: 60vw; */
     max-width: 45vw;
    /*min-width: 50px; */
    height: fit-content;
    padding: 15px;
    margin: 10px 0;
  }

  .messagesBody {
    margin-bottom: 33vh;
  }

  form.sendMessageForm {
    flex-direction: column;
    width: 100%;
  }

  .btnSendMessage {
    max-width: 35vw;
    max-height: 7vh;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }  
}

@media screen and (max-width: 376px) {
  .navbar {
    margin-top: 57vh;
  }
}