.income {
    min-height: 50px;
    width: 250px;
    align-items: center;
    text-align: left;
    border: 1px solid transparent;
    color: white;
    background-color: aqua;
}

.outcome {
    text-align: right;
    color: black;
}

.outcome >.text  {
    justify-content: right;
    align-items: center;
    min-height: 50px;
    display: inline-flex;
    width: 250px;
    background-color: white;
    margin: 0;
}