.field {
    width: 100%;
}

.field input {
    font-size: 1rem;
    color: var(--color-gray);
    background-color: var(--color-white);
    border-radius: var(--border-radius);    
    text-align: center;
    padding-left: 0;
}

.field input::placeholder {
    text-align: center;
}

.field .input {
    padding-left: 0;
}

.error {
    color: red;
    font-weight: 600;
    font-size: 0.7rem;
    text-align: center;
    display: block;
    text-transform: lowercase;
    /* margin: -1rem 0 1rem; */
}

